
<div class="section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="field_form">
					
					<div class="row">
						{% for message in app.flashes('contact_success') %}
						<div class="col-md-12 alert alert alert-success alert-dismissible fade show" role="alert">
							{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						{% endfor %}
						{% for message in app.flashes('contact_error') %}
						<div class="col-md-12 alert alert-danger alert-dismissible fade show" role="alert">
							{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						{% endfor %}

					

					<label for="email" class="form-label">Title</label>
					<input type="text" name="title" id="title" class="form-control">

					<label for="description">Description</label>
					<input type="text" name="description" id="description" class="form-control">

					<label for="teacher" class="form-label">Enseignant</label>
					<select type="text" name="teacher" id="teacher" class="form-control">
					{% if code == 200 %}
						{% for calendar in calendrier %}
							<option>{{calendar.teacher_name}}</option>
						{% endfor %}
					{% elseif code == 201 %}
						{% for calendar in calendary %}
							<option>{{calendar.teacherName}}</option>
						{% endfor %}
					{% endif %}
					</select>
					<div class="d-flex justify-content-center">
						<button type="submit" class="btn btn-primary mt-3" id="envoyerFormulaire">Ajouter</button>
					</div>
				   

					

					</div>
					
				</div>
			</div>

		</div>
	</div>
</div>


