
{% extends 'base.html.twig' %}

{% block title %}
Calendar
{% endblock %}

{% block header %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block footer %}{% endblock %}


{% block body %}
{# Debut Calendrier #}
<div class="row row-sm">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Basic Datatable</h3>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered text-nowrap border-bottom" id="basic-datatable">
						<div id="calendrier"></div>
				</div>
			</div>
		</div>
	</div>

	{# Fin calendrier #}

	<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Under Construction</p>
  </div>

</div>


	<script>
		window.onload = () => {

			let calendarElt = document.querySelector("#calendrier")

			let xmlhttp = new XMLHttpRequest();

			


			let calendar = new FullCalendar.Calendar(calendarElt, {

				
				initialView: 'dayGridMonth',
				locale: 'fr',
				timeZone: 'Europe/Paris',
				headerToolbar: {
					start: 'prev,next today',
					center: 'title',
					end: 'dayGridMonth,listMonth',
				},
				selectable: true,
				events: [{{ data| raw }}
				],
				selectable: true,
				editable: true,
				eventResizableFromStart: true,
				eventClick: function(calEvent, jsEvent, event){
					if(!confirm("Etes vous sûr de vouloir supprimer cet évènement?")){

						
					var event = calendar.getEventById(event.id);

						event.remove();
								

							
					}
					
					
				//... your code here ...
				},

				{# eventDrop: function(event, delta) {
				alert(event.title + ' was moved ' + delta + ' days\n' +
				'(should probably update your database)');
				},
			 #}
			

							

			})

			

			calendar.on('eventChange', (e) => {
			console.log(e.event.end);


			let url = `/api/${e.event.id
				}/edit`
			let donnees = {
				"title": e.event.title,
				"start": e.event.start,
				"end": e.event.end,
				"description": e.event.extendedProps.description,
				"backgroundColor": e.event.backgroundColor,

			}


			let xhr = new XMLHttpRequest

			xhr.open("PUT", url)
			xhr.send(JSON.stringify(donnees))

		})

		calendar.render()

}
	</script>
	{% endblock %}