{% extends 'base.html.twig' %}

{% block title %}
View all
{% endblock %}

{% block body %}

{# app-content-app #}
<div class="main-content app-content mt-0">
	<div class="side-app">

		{# Container #}
		<div class="main-container container-fluid">
			<div class="col">
				<div class="card">
					<div class="card-header justify-content-center">
						{% for message in app.flashes('success') %}
						<div class="col-md-10 alert alert alert-success alert-dismissible fade show" role="alert">
							<div class="d-flex align-items-center justify-content-center">
								<i class="icon icon-check fs-30 text-success lh-1 my-4 me-3 d-inline-block"></i>{{ message }}
								
								<button type="button" class="close" data-dismiss="alert" aria-label="close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="card-body">

						<div class="panel panel-primary">
							<div class="tab-menu-heading">
								<div class="tabs-menu">
									{# Tabs #}
									<ul class="nav panel-tabs panel-info">
										<li class="col-sm-6 col-md-6 col-xl-2">
											<a href="#users" class="active modal-effect btn shadow-sm d-grid mb-3" data-bs-toggle="tab">
											<span><i class="fe fe-user me-1"></i>Utilisateurs</span></a>
										</li>
										<li class="col-sm-6 col-md-6 col-xl-2">
											<a href="#sessions" data-bs-toggle="tab" class="modal-effect btn shadow-sm d-grid mb-3">
											<span><i class="fe fe-calendar me-1"></i>Sessions</span></a>
										</li>
										<li class="col-sm-6 col-md-6 col-xl-2">
											<a href="#calendars" data-bs-toggle="tab" class="modal-effect btn shadow-sm  d-grid mb-3">
											<span><i class="fe fe-settings me-1"></i>Calendrier</span></a>
										</li>
										<li class="col-sm-6 col-md-6 col-xl-2">
											<a href="#technologies" data-bs-toggle="tab" class="modal-effect btn shadow-sm  d-grid mb-3">
											<span><i class="fe fe-bell me-1"></i>Technologies</span></a>
										</li>
										<li class="col-sm-6 col-md-6 col-xl-2">
											<a href="#courses" data-bs-toggle="tab" class="modal-effect btn shadow-sm  d-grid mb-3">
											<span><i class="fe fe-bell me-1"></i>Cours</span></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="panel-body tabs-menu-body">
								<div class="tab-content">

									<div class="tab-pane active" id="users">
										{# Modal #}
										{% embed "components/modal.html.twig" %}
										{% set modalType = "modal-lg" %}
										{% set id = "full-user" %}
										{% block buttonTitle %}Ajouter un utilisateur{% endblock %}
										{% block modalTitle %}Ajouter un utilisateur{% endblock %}
										{% block dashboard %}{% include "administration/admin/add/add_users.html.twig" %}{% endblock %}
										{% endembed %}
										{# Fin modal #}

		
										{% include "administration/admin/view/view_users.html.twig" %}
									</div>
									<div class="tab-pane" id="sessions">
									{# Modal #}
										{% embed "components/modal.html.twig" %}
										{% set modalType = "modal-scrolling" %}
										{% set id = "full-sessions" %}
										{% block buttonTitle %}Ajouter une session{% endblock %}
										{% block modalTitle %}Ajouter une session{% endblock %}
										{% block dashboard %}{% include "administration/admin/add/add_sessions.html.twig" %}{% endblock %}
										{% endembed %}
										{# Fin modal #}

										{% include "administration/admin/view/view_sessions.html.twig" %}
									</div>
									<div class="tab-pane" id="calendars">
									{# Modal #}
										{% embed "components/modal.html.twig" %}
										{% set modalType = "modal-scrolling" %}
										{% set id = "full-calendars" %}
										{% block buttonTitle %}Ajouter un calendrier{% endblock %}
										{% block modalTitle %}Ajouter un calendrier{% endblock %}
										{% endembed %} #}
										{# Fin modal #}

										{% include "administration/admin/view/view_calendars.html.twig" %}
									</div>
									<div class="tab-pane" id="technologies">
										{# Modal #}
										{% embed "components/modal.html.twig" %}
										{% set modalType = "modal-scrolling" %}
										{% set id = "full-technologies" %}
										{% block buttonTitle %}Ajouter une technologie{% endblock %}
										{% block modalTitle %}Ajouter une technologie{% endblock %}
										{% block dashboard %}{% include "administration/admin/add/add_programmingLanguages.html.twig" %}{% endblock %}
										{% endembed %}
										{# Fin modal #}

										{% include "administration/admin/view/view_programmingLanguages.html.twig" %}
									</div>
									<div class="tab-pane" id="courses">
									{# Modal #}
										{% embed "components/modal.html.twig" %}
										{% set modalType = "modal-scrolling" %}
										{% set id = "full-courses" %}
										{% block buttonTitle %}Ajouter un cours{% endblock %}
										{% block modalTitle %}Ajouter un cours{% endblock %}
										{% block dashboard %}{% include "administration/admin/add/add_courses.html.twig" %}{% endblock %}
										{% endembed %}
										{# Fin modal #}
										{% include "administration/admin/view/view_courses.html.twig" %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}