{% block body %}

<div class="table-responsive">
		<table class="table table-bordered text-nowrap border-bottom" id="data-table-technologies">
		<thead>
			<tr>
				<th class="wd-15p border-bottom-0">Photo</th>
				<th class="wd-15p border-bottom-0">Technologie</th>
				{% if app.user and app.user.role == 'Administrateur'%}
				<th class="wd-10p border-bottom-0">Actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for programmingLanguage in programmingLanguages %}
			<tr>
				<td><img style="height:50px;width:50px;"
						src="{{ asset('uploads/techno/' ~ programmingLanguage.picture)}}" alt=""></td>
				<td>{{ programmingLanguage.name }}</td>

				{% if app.user and app.user.role == 'Administrateur'%}
				<td name="bstable-actions">
					<div class="btn-list">
						{# Bouton modifier #}
						<a href="{{path('edit_technologie',{'id': programmingLanguage.id})}}" id="bEdit" type="button"
							class="btn btn-sm btn-primary">
							<span class="fe fe-edit"></span>
						</a>
						{# fin bouton modifier #}

						{# Bouton supprimer #}
						<a href="{{path('delete_technologie',{'id': programmingLanguage.id})}}" id="bDel" type="button"
							class="btn btn-sm btn-danger">
							<span class="fe fe-trash-2"></span>
						</a>
						{# fin bouton supprimer #}
					</div>
				</td>
				{% endif %}
			</tr>
			{% endfor %}

		</tbody>
	</table>
</div>

{% endblock %}