{% extends 'base.html.twig' %}

{% block title %}
	Dashboard Etudiant
{% endblock %}


{% block body %}
	<div class="main-content app-content mt-0">
		<div class="side-app">


			<div class="main-container container-fluid">

                {# Header #}
                <div class="page-header">
                    <h1 class="page-title">Elève</h1>
                </div>
				

								
								<div class="col-xl-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Mes notes</h3>
                                    </div>
                                    <div class="card-body">
                                      
                                        <div class="table-responsive">
                                            <table class="table border text-nowrap text-md-nowrap table-bordered mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Matière</th>
                                                        <th>Note</th>
                                                        <th>Remarque</th>
                                                    </tr>
                                                </thead>
                                                <tbody>{% for grade in grades %}
                                                    <tr>
                                                        <td>{{grade.category}}</td>
                                                        <td>{{grade.grade}}</td>
                                                        <td>{{grade.comment}}</td>
                                                    </tr>{% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

{% endblock %}
